.details {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 0 0 auto;

    img {
        padding-right: 40px;
        padding-left: 20px;
        height: 350px;
    }
}

.right {
    flex: 1 0 auto;

    p {
        font-size: 1.4em;
    }
}