.countdown {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    .countdown-number {
        font-size: 1.5em;
        margin-right: 10px;
    }

    .bar {
        background-color: red;
        height: 10px;
    }
}