.bar {
    background-color: blueviolet;
    font-size: 1.25em;
    text-align: center;
}

.answer-text {
    font-size: 1.25em;
    margin-bottom: 15px;
}

.result-container {
    margin-bottom: 10px;
}