
/* You can add global styles to this file, and also import other style files */

@mixin create-theme($themeclass, $fontfamily, $fontcolor, $pagebgcolor, $buttoncolor) {

    .#{$themeclass} {
        
        font-family: $fontfamily;
        font-size: 20px;
        background-color: $pagebgcolor;
        color: $fontcolor;
        margin: 0px;
        padding: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;

        a.button,
        button {
            display: block;
            
            font-size: 1.5em;
            font-family: inherit;

            border: 3px solid $buttoncolor;
            border-radius: 5px;
            
            margin: 10px;
            height: 90px;

            color: $fontcolor;
            background-color: transparent;
            
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        a.button {
            line-height: 100px;
        }

        a.button:focus,
        button:focus {
            outline: none;
        }

        .centered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .flex-grow {
            flex: 1 1 auto;
        }

        .question-text {
            font-size: 2em;
            padding: 10px;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}

